body {
    font-family: 'Arial', sans-serif;
    background-color: #b66565; /* Reddish background color of the body */
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlight {
    background-color: yellow; /* Or any other highlight color */
    color: black; /* Optional: change text color if needed */
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: white; /* White background for the container */
    border-radius: 8px;
    position: relative; /* Needed for absolute positioning of child elements */
    z-index: 2; /* Ensures container is above the backdrop */
}

#text-input, #pdf-upload {
    width: calc(100% - 20px); /* Full width minus padding */
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#start-reading, #back-button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-reading:hover, #back-button:hover {
    background-color: #449d44;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* High z-index to be on top of everything else */
}

#quit-reading {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed; /* Fixed to the viewport */
    top: 20px;
    right: 20px;
    z-index: 1001; /* Above the backdrop */
}

#quit-reading:hover {
    background-color: #c9302c;
}

#text-display {
    font-size: 28px;
    padding: 20px;
    z-index: 1002; /* Above the quit button */
}

#all-words-container {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 10%; /* Adjust based on your layout, 10% from the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-height: 200px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1002; /* Above the backdrop */
}

.word {
    padding: 5px;
    margin: 2px;
    display: inline-block; /* To wrap within the container */
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.word:hover {
    background-color: #e8e8e8;
}
